
@{
    ViewBag.Title = "TestCodeWeb";
}

<h2>TestCodeWeb</h2>
現在時間： @(DateTime.Now)<br />
現在時間： @(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))<br />
現在時間： @(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))
