
@{
    ViewBag.Title = "Forgotpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>忘記密碼</h2>

<!-- The Modal (contains the Sign Up form) -->
<form class="" action="/action_page.php">
    <div class="container LoginCon">
        <p>請輸入e-mail</p>
        <hr>
        <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input type="text" class="form-control" placeholder="請輸入email" name="email" required>
        </div>
        <p>我們會將重設密碼的方式以電子郵件傳送給您</p>
        <hr>
        <div>
            <span class="col-lg-6">
                @Html.ActionLink("註冊新會員", "Register", "Account")
            </span>
            <span class="col-lg-6 text-center">
                @Html.ActionLink("重新登入", "Login", "Account")
            </span>
        </div>
        <br /><br />
        <button type="submit" class="signupbtn">重設密碼</button>
        <br />
    </div>

</form>
