
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<!-- The Modal (contains the Sign Up form) -->
<form class="" action="/action_page.php">
    <div class="container LoginCon">
        <p>請輸入帳號密碼進行登入</p>
        <hr>
        <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input type="text" class="form-control" placeholder="請輸入email" name="email" required >
        </div>
        <div class="form-group">
            <label for="psw"><b>Password</b></label>
            <input type="password" class="form-control" placeholder="請輸入密碼" name="psw" required>
        </div>
        <div  class="checkbox">
           <span class="col-lg-8">
               <label >
                   <input type="checkbox" name="remember" style="margin-bottom:15px"> Remember me
               </label>
           </span>
            <span class="col-lg-4">
            @Html.ActionLink("忘記密碼", "Forgotpassword", "Account")
            </span>
         </div>
        <br />
        <button type="submit" class="signupbtn">登入</button>
        <br />
    </div>
    
</form>

